.hide {
    display: none;
}

.wrap {
    background-color: #ccc;
    width: 300px;
    padding: 200px;
    height: 500px;
}

.h1 {
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding-top: 2px;
}

.input {
    padding: 10px;
    background-color: rgb(236, 234, 234);
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 88%;
    margin-left: 20px;
    outline: none;
    box-sizing: border-box;
}

.ul {
    padding-bottom: 50px;
}

.ul li {
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
}